/*! CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
/*! /CSS RESET */





/*! HEADER */

/*! /HEADER */





/*! FOOTER - UTILIZADO EN TODAS LAS PAGINAS */

.containerFooter{
    display:flex;
    justify-content: space-around;
    padding-top: 25px;
    background-color: slateblue;
}

/*? categorias */

.listaFooter div{
    display: flex;
    justify-content: flex-start;
}

.listaFooter div ul{
    padding-left: 0;
}

.listaFooter div ul li{
    list-style-type: none;
}

.listaFooter div ul li a{
    font-size: 20px;
    color: black;
}

.listaFooter div ul li a:hover{
    text-decoration: underline 1px black;
}

.listaFooter div ul li a:active{
    color: yellow;
    text-decoration: none;
}

/*? /categorias */

/*? contactanos */
.contactanos{
    display: flex;
    flex-direction: column;
}

.contactanos div{
    display: flex;
    justify-content: flex-end;
}

.contactanos a{
    margin: 5px;
}

.contactanos a img{
    width: 50px;
}

.contactanos a img:hover{
    width: 55px;
    transition: .4s;
    opacity: .6;
}

/*? /contactanos */

/*! /FOOTER - UTILIZADO EN TODAS LAS PAGINAS*/





/*! ----------/INDEX MAIN---------- */

/*!MAIN*/

/*? hero section */

.imagenPrincipal{
    position: relative;
    background: url(../img/banner-hero.png) no-repeat center;
    background-size: cover;
    height: 95vh;
    overflow: hidden;
}

.heroContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.logoPrincipal{
    width: 65vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    border-radius: 24px;
    opacity: .9;
}

.botonPrincipal{
    color: black;
    background-color: white;
    padding: 10px 24px;
    border-radius: 12px;
    transition: .4s;
}

.botonPrincipal:hover{
    opacity: .6;
}

.botonPrincipal:active{
    color: white;
    background-color: black;
    opacity: 1;
}

/*? /hero section */

/*? banner productos */

.containerCategorias{
    display: flex;
    flex-direction: column;
}

.containerBuzos{
    height: 470px;
    background: url(../img/banner-buzos.png) no-repeat center; 
    background-size: cover;
    position: relative;
    border: white 2px solid;
}

.containerCamisetas{
    height: 470px;
    background: url(../img/banner-camisetas.png) no-repeat center; 
    background-size: cover;
    position: relative;
    border: white 2px solid;
}

.containerPantalones{
    height: 470px;
    background: url(../img/banner-pantalones.png) no-repeat center; 
    background-size: cover;
    position: relative;
    border: white 2px solid;
}

.containerCategorias a div h2{
/*posicionado*/
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*apariencia*/
    font-size: 45px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 12px;
    transition: .4s;
    opacity: 1;
}

.containerCategorias a:hover{
    opacity: .6;
    transition: .4s;
}

.containerCategorias a div h2:active{
    color: black;
    background-color: white;
    opacity: 1;
}
/*? /banner productos */

/*? destacados - UTILIZADO EN TODAS LAS PAGINAS*/

.containerDestacados{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: darkgrey;
}

.productosDestacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

.tituloDestacados{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.tituloDestacados h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.containerTarjetas{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.containerTarjetas div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 20%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
}

.containerTarjetas div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.containerTarjetas div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
}

.containerTarjetas div div h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.containerTarjetas div div p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

/**boton de tarjeta*/
.containerTarjetas div div a{
    color: white;
    background-color: black;
    padding: 10px 24px;
    border-radius: 12px;
    transition: .4s;
}

.containerTarjetas div div a:hover{
    opacity: .6;
}

.containerTarjetas div div a:active{
    color: black;
    background-color: white;
    opacity: 1;
}

/**boton de tarjeta*/

/** media queries*/

@media (max-width: 1415px){
    .containerTarjetas div{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 1259px){
    .containerTarjetas div{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 1179px){
    .containerTarjetas div{
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .containerTarjetas div img{
        padding: 7px;
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 1015px){
    .containerTarjetas div{
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px;
    }

    .containerTarjetas div img{
        padding: 5px;
        width: 165px;
        height: 165px;
    }
}

@media (max-width: 879px){
    .containerTarjetas div{
        margin-left: 10px;
        margin-right: 10px;
        padding: 6px;
    }

    .containerTarjetas div img{
        padding: 3px;
        width: 155px;
        height: 155px;
    }
}

@media (max-width: 765px){
    .containerTarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .containerTarjetas div{
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .containerTarjetas div img{
        padding: 7px;
        width: 175px;
        height: 175px;
    }
}

@media(max-width: 509px){
    .containerTarjetas{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .containerTarjetas div{
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .containerTarjetas div img{
        padding: 7px;
        width: 175px;
        height: 175px;
    }
}
/*? /destacados - UTILIZADO EN TODAS LAS PAGINAS*/

/*! /MAIN */

/*! ----------/INDEX MAIN---------- */




/*! ----------BUZOS MAIN---------- */

.containerBuzosNormal{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: darkgrey;
}

.productosBuzos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

.tituloBuzos{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.tituloBuzos h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.containerTarjetasBuzos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    justify-content: center;
    margin-top: 25px;
}

.containerTarjetasBuzos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 20%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
}

.containerTarjetasBuzos div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.containerTarjetasBuzos div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
}

.containerTarjetasBuzos div div h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.containerTarjetasBuzos div div p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

/**boton de tarjeta*/
.containerTarjetasBuzos div div a{
    color: white;
    background-color: black;
    padding: 10px 24px;
    border-radius: 12px;
    transition: .4s;
}

.containerTarjetasBuzos div div a:hover{
    opacity: .6;
}

.containerTarjetasBuzos div div a:active{
    color: black;
    background-color: white;
    opacity: 1;
}

/**boton de tarjeta*/

/** media queries*/

@media (max-width: 1415px){
    .containerTarjetasBuzos div{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 1259px){
    .containerTarjetasBuzos div{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 1179px){
    .containerTarjetasBuzos div{
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .containerTarjetasBuzos div img{
        padding: 7px;
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 1015px){
    .containerTarjetasBuzos div{
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px;
    }

    .containerTarjetasBuzos div img{
        padding: 5px;
        width: 165px;
        height: 165px;
    }
}

@media (max-width: 879px){
    .containerTarjetasBuzos div{
        margin-left: 10px;
        margin-right: 10px;
        padding: 6px;
    }

    .containerTarjetasBuzos div img{
        padding: 3px;
        width: 155px;
        height: 155px;
    }
}

@media (max-width: 765px){
    .containerTarjetasBuzos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .containerTarjetasBuzos div{
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .containerTarjetasBuzos div img{
        padding: 7px;
        width: 175px;
        height: 175px;
    }
}

@media(max-width: 509px){
    .containerTarjetasBuzos{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .containerTarjetasBuzos div{
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }

    .containerTarjetasBuzos div img{
        padding: 7px;
        width: 175px;
        height: 175px;
    }
}